.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 6;
  visibility: hidden;
  display: flex;
  position: fixed;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  pointer-events: auto;
}

.popup__close {
  background-image: url(../../images/Close-Icon.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  top: -40px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  position: absolute;
  cursor: pointer;
  right: -40px;
  padding: 0;
  background-position: center center;
  transition: visibility 0.5s, opacity 0.5s linear;
}

@media screen and (max-width: 500px) {
  .popup__close {
    right: 0;
    width: 24px;
    height: 24px;
  }
}

.popup__opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.popup__form {
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
  border-radius: 10px;
  width: 430px;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .popup__form {
    width: 320px;
    margin: 56px calc((100% - 331px) / 2);
  }
}

@media screen and (max-width: 340px) {
  .popup__form {
    margin: 56px calc((100% - 331px) / 2);
  }
}

.form_type_black {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 351px;
}

.form__header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  width: 83%;
  margin: 34px auto 22px;
}

.form__set {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.form__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: #2f71e5;
  border-radius: 2px;
  color: #fff;
  width: calc(100% - (36px * 2));
  height: 64px;
  text-align: center;
  border: 0;
  border-radius: 100px;
  margin: 9px 36px 16px;
  padding: 0;
  cursor: pointer;
  transition: visibility 0s, opacity 0.5s linear;
}

.form__button_disabled {
  background: #e6e8eb;
  color: #b6bcbf;
  cursor: default;
}

.form__footer {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto 28px;
  padding: 0;
}

.form__link {
  text-decoration: none;
  color: #2f71e5;
}
