.about {
  display: flex;
  background-color: #fff;
}

@media screen and (max-width: 500px) {
  .about {
    flex-direction: column;
    margin-bottom: 128px;
  }
}

.about__avatar {
  width: 32%;
  height: 32%;
  margin: 80px 4% 80px 7%;
}

@media screen and (max-width: 950px) {
  .about__avatar {
    margin: 61px 4% 61px 5%;
  }
}

@media screen and (max-width: 500px) {
  .about__avatar {
    width: 85%;
    height: 85%;
    margin: 32px 24px 24px;
  }
}

.about__description {
  display: flex;
  flex-direction: column;
  width: 42%;
  margin-right: 15%;
}

@media screen and (max-width: 950px) {
  .about__description {
    width: 55%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 500px) {
  .about__description {
    width: 90%;
  }
}

.about__description_title {
  font-family: Roboto-slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin: 131px 0 0;
}

@media screen and (max-width: 950px) {
  .about__description_title {
    font-size: 30px;
    line-height: 40px;
    margin: 40px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .about__description_title {
    margin: 0 auto;
  }
}

.about__description_subtitle {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-top: 24px;
}

@media screen and (max-width: 950px) {
  .about__description_subtitle {
    margin-top: 16px;
  }
}

@media screen and (max-width: 500px) {
  .about__description_subtitle {
    margin: 16px auto 0 16px;
    width: 100%;
  }
}
