.header {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/background.jpg");
  background-size: cover;
  background-position: center;
}

.header_type_white {
  color: black;
  background: white;
}

.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.header__container_type_black {
  border-bottom: 1px solid rgba(26, 27, 34, 0.5);
}

.header__logo {
  font-family: Roboto-slab, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 30px 0 26px 7.2%;
}

@media screen and (max-width: 950px) {
  .header__logo {
    margin: 23px 0 18px 5%;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0 16px 16px;
  }
}
