.search-results {
  background-color: #f5f6f7;
  padding-top: 80px;
}

@media screen and (max-width: 500px) {
  .search-results {
    padding-top: 32px;
  }
}

.search-results__title {
  font-family: Roboto-slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin: 0 auto 64px 8%;
}

@media screen and (max-width: 500px) {
  .search-results__title {
    font-size: 30px;
    line-height: 34px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 58px;
  }
}

.search-results__button {
  width: 20%;
  height: 64px;
  border: none;
  border-radius: 80px;
  background-color: #fff;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 64px 40% 80px;
  padding: 0;
}

@media screen and (max-width: 950px) {
  .search-results__button {
    margin: 32px 35% 40px;
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  .search-results__button {
    margin: 21px 5% 24px;
    width: 90%;
  }
}

.search-results__button:hover {
  background-color: #e8e8e8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 16px;
  width: 85%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1350px) {
  .cards {
    width: 90%;
    grid-gap: 8px;
  }
}

@media screen and (max-width: 730px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 650px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    width: 65%;
  }
}

@media screen and (max-width: 400px) {
  .cards {
    width: 90%;
  }
}
