.search-results {
  background-color: #f5f6f7;
  padding-top: 80px;
}

@media screen and (max-width: 500px) {
  .search-results {
    padding-top: 32px;
  }
}

.search-results__title {
  font-family: Roboto-slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin: 0 auto 64px 8%;
}

@media screen and (max-width: 500px) {
  .search-results__title {
    font-size: 30px;
    line-height: 34px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 58px;
  }
}

.search-results__button {
  width: 20%;
  height: 64px;
  border: none;
  border-radius: 80px;
  background-color: #fff;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0 40% 80px;
  padding: 0;
}

@media screen and (max-width: 950px) {
  .search-results__button {
    margin: 0 35% 40px;
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  .search-results__button {
    margin: 0 5% 24px;
    width: 90%;
  }
}

.search-results__button:hover {
  background-color: #e8e8e8;
}

.search-results__button_type_not-active {
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: calc((100% - 32px) / 3) calc((100% - 32px) / 3) calc(
      (100% - 32px) / 3
    );
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 16px;
  width: 85%;
  margin: 0 auto;
  padding: 0 0 64px;
  list-style: none;
}

@media screen and (max-width: 1350px) {
  .cards {
    width: 90%;
    grid-gap: 8px;
    grid-template-columns: calc((100% - 16px) / 3) calc((100% - 16px) / 3) calc(
        (100% - 16px) / 3
      );
  }
}

@media screen and (max-width: 730px) {
  .cards {
    width: 70%;
    grid-gap: 20px;
    grid-template-columns: calc((100% - 40px) / 2) calc((100% - 40px) / 2);
    padding: 0 0 32px;
  }
}

@media screen and (max-width: 650px) {
  .cards {
    width: 90%;
    grid-gap: 10px;
    grid-template-columns: calc((100% - 20px) / 2) calc((100% - 20px) / 2);
  }
}

@media screen and (max-width: 500px) {
  .cards {
    grid-template-columns: 100%;
    width: 65%;
    padding: 0 0 21px;
  }
}

@media screen and (max-width: 400px) {
  .cards {
    width: 90%;
  }
}
