.nothing-found {
  background: #f5f6f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.nothing-found__image {
  background-image: url("../../images/not-found_v1.png");
  width: 96px;
  height: 96px;
}

.nothing-found__title {
  font-family: Roboto-slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 24px 0 16px;
}

.nothing-found__subtitle {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0;
  width: 310px;
  text-align: center;
}
